.heading-wrapper {
	--icon-size-x: 2rem;
	--icon-size-y: 1.5rem;
	margin-inline-end: var(--icon-size-x);
}

.heading-wrapper:not(:first-child) {
	margin-block: 0;
}

.heading-wrapper > * {
	display: inline;
	margin-bottom: 0;
}

.heading-wrapper > .anchor-link {
	position: relative;
	display: inline-flex;
	margin-inline-end: calc(-1 * var(--icon-size-x));
	width: var(--icon-size-x);
	height: var(--icon-size-y);
	color: var(--theme-text-light);
	text-decoration: none;
	justify-content: center;
	vertical-align: baseline;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 50em) {
	.heading-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: baseline;
		margin-inline-start: calc(-1 * var(--icon-size-x));
	}

	.heading-wrapper > .anchor-link {
		margin-inline-end: 0;
	}
}

.heading-wrapper > .anchor-link {
	opacity: 0.5;
}

@media (hover: hover) {
	.heading-wrapper > .anchor-link {
		opacity: 0;
	}
}

.heading-wrapper:hover > .anchor-link,
.anchor-link:focus {
	opacity: 1;
}

h2.heading {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.header-link {
	font-size: 1rem;
	padding: 0.1rem 0 0.1rem 0;
	transition: border-inline-start-color 100ms ease-out, background-color 200ms ease-out;
}

.header-link a {
	display: inline-flex;
	gap: 0.5em;
	width: 100%;
	font: inherit;
	color: var(--theme-text-lighter);
	text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:focus-within {
	border-inline-start-color: var(--theme-accent-secondary);
}

.header-link:hover a,
.header-link a:focus {
	color: var(--theme-text);
	text-decoration: underline;
}
.header-link svg {
	opacity: 0.6;
}
.header-link:hover svg {
	opacity: 0.8;
}

.header-link.depth-3 {
	padding-inline-start: 1rem;
}
.header-link.depth-4 {
	padding-inline-start: 2rem;
}

/* Add line and padding on the left side */
.header-link {
	padding-inline-start: 1rem;
	border-inline-start: 3px solid var(--theme-divider);
}
.header-link.depth-3 {
	padding-inline-start: 2rem;
}
.header-link.depth-4 {
	padding-inline-start: 3rem;
}

/* Apply different TOC styling for wide viewports showing the right sidebar */
@media (min-width: 72em) {
	h2.heading {
		padding-left: calc(1rem + 4px);
	}

	.header-link {
		border-inline-start-width: 4px;
	}
}

/* Highlight TOC header link matching the current scroll position */
.current-header-link {
	background-color: var(--theme-bg-accent);
	/* Indicates the current heading for forced colors users in older browsers */
	outline: 1px solid transparent;
}

@media (forced-colors: active) {
	.current-header-link {
		border: 1px solid CanvasText;
	}
}

.current-header-link a {
	color: var(--theme-text);
}

/* Screenreader Only Text */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	clip: auto;
	white-space: normal;
}