pre.shiki .language-id {
  display: none;
}

pre {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 2rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-right: calc(var(--padding-inline) * 2);
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);
	line-height: 1.5;
	font-size: 0.85em;
	overflow-y: hidden;
	overflow-x: auto;
}


*:not(.code-container) > code {
	--border-radius: 3px;
	--padding-block: 0.2rem;
	--padding-inline: 0.33rem;

	font-family: var(--font-mono);
	font-size: 0.85em;
	color: inherit;
	background-color: var(--theme-code-inline-bg);
	padding: var(--padding-block) var(--padding-inline);
	margin: calc(var(--padding-block) * -1) -0.125em;
	border-radius: var(--border-radius);
	word-break: break-word;
}

pre.astro-code > code {
	all: unset;
}

pre > code {
	font-size: 1em;
}

pre {
	background-color: var(--theme-code-bg);
	color: var(--theme-code-text);
}

blockquote code {
	background-color: var(--theme-bg);
}

@media (min-width: 37.75em) {
	pre {
		--padding-inline: 1.25rem;
		border-radius: 8px;
		margin-left: 0;
		margin-right: 0;
	}
}